/** @format */

.cart {
  width: 98vw;
  height: 300vh;
  background-color: #212121;
  display: flex;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
}

@media all and (max-width: 1450px) {
  .cart {
    display: grid;
    grid-template-columns: auto;
    width: 100vw;
    height: 500vh;
  }
}
