/** @format */

.CartDetails {
  width: 48vw;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-details-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #9b2226;
  width: 500px;
  border: 1px solid #fff;
}

.place-order-btn {
  position: inherit;
  margin-top: 2rem;
  margin-left: -3rem;
  padding: 1rem;
  color: #fff;
  background-color: #9b2226;
  border: 1px solid #fff;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.cart-details-price {
  display: flex;
  justify-content: space-evenly;
}

.cart-details-bar {
  width: 100%;
  height: 3px;
  background-color: white;
}

@media all and (max-width: 1450px) {
  .cart-details-container {
    position: absolute;
    left: 25%;
    top: 25%;
    transform: translate(-50%, -50%);
    margin-left: 2rem;
    background-color: #9b2226;
    width: 300px;
  }
}
