/** @format */

.sidebar {
  position: absolute;
  top: 11vh;
  width: 15rem;
  height: 85vh;
  background-color: #232323;
  z-index: 600;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-element {
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}

.sidebar-element:hover {
  background-color: #9b2226;
}

@media all and (max-width: 1250px) {
  .sidebar {
    position: absolute;
    top: 12.2vh;
  }
}
